.block{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}
.App{
    background: black;
}
.fmName,.rlName{
    background: #ffffff;
}
.title{
    color: white;
}
.rocketBlock{
    background: silver;

    border: 1px black solid;
    border-radius: 5px;
}